.AppLogo {
    height: 50px;
    margin-right: 50px;
}

.landingBaseDiv {
    width: 100%;
    position: fixed;
    overflow: auto;
    background-image: url("../../assets/back.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landingOverlay {
    width: 100%;
    position: fixed;
    overflow: auto;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.loginCont {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.loginInfoHeading {
    text-align: left;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
    font-size: 61px;
    font-family: "Monoton", cursive;
}

.loginInfoContent {
    margin-top: 20px;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0;
    color: #ffffff;
    opacity: 1;
}

.loginCard {
    width: 400px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    float: right;
    padding: 60px 55px 55px 55px;
}

.loginButton {
    width: 100%;
    height: 36px;
    background: #f25022 0% 0% no-repeat padding-box;
    border-radius: 6px;
    font-size: 14px;
    color: #ffffff;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
}

.loginCircularProgress {
    width: 100%;
    height: 36px;
    color: #f25022;
    margin-top: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginBottomInfo {
    height: 19px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-top: 60px;
}

.loginSignUp {
    height: 36px;
    width: 100%;
    border: 1px solid #8d8d8d;
    border-radius: 6px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-size: 14px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: #00a4ef;
}

@media (min-width: 960px) {
    .MuiContainer-root {
        padding-left: 32px;
        padding-right: 32px;
    }
}

#standard-adornment-password {
    letter-spacing: 6px;
    font-weight: bold;
}

@media (prefers-reduced-motion: no-preference) {
    .AppLogo {
        animation: App-logo-spin infinite 5s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
