.App {
    background-color: #ebf2f8;
    font-family: "Quicksand", sans-serif;
    height: 100%;
    width: 100%;
}

.appBody {
    height: 100%;
    width: 100%;
}

.appContents {
    width: 100%;
}

.cardTitle,
.cardIcon {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.cardTitle {
    z-index: 10;
    color: white;
    font-weight: 900;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cardIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.allCoursesCard {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#00a4ef, rgb(35, 35, 255));
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.acceptedCoursesCard {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#7fba00, green);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.rejectedCoursesCard {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#f25022, #9b2505);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.pendingCoursesCard {
    height: 150px;
    width: 100%;
    background-image: linear-gradient(#ffb901, #926900);
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
}

.quizCard {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lowerbarCont {
    margin-top: 100px;
    float: right;
    z-index: 10;
    position: fixed;
    bottom: 50px;
    width: 100%;
    box-sizing: border-box;
}

.pageHeading {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 5px;
}

.pageSubHeading {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 50px;
}

.searchDiv {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.searchBar {
    height: 50px;
    width: 100%;
    border: 2px solid #282c34;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.searchIcon {
    font-size: 40px;
}

@media (max-width: 650px) {
    .appContents {
        margin-bottom: 100px;
    }
    .lowerbarCont {
        bottom: 100px;
    }
}
