.sessionCardTitle {
    font-size: 30px;
    font-weight: bold;
}

.sessionCardInfluencer {
    margin-bottom: 20px;
}

.sessionCardInfo {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.sessionCardFee {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #ffb901;
    margin-bottom: 20px;
}

.sessionCardSeats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}
